## User Engagement Analysis

### Major Objectives 
Track the user’s engagement using the following engagement metrics: 
- sessions frequency 
- the duration of the session 
- the sessions total traffic (download and upload (bytes))

### Sub Tasks
- Aggregate the above metrics per customer id (MSISDN) and report the top 10 customers per engagement metric 
- Normalize each engagement metric and run a k-means (k=3) to classify customers in three groups of engagement. 
- Compute the minimum, maximum, average & total non- normalized metrics for each cluster. 
- Interpret your results visually with accompanying text explaining your findings.
- Aggregate user total traffic per application and derive the top 10 most engaged users per application
- Plot the top 3 most used applications using appropriate charts.  
- Using k-means clustering algorithm, group users in k engagement clusters based on the engagement metrics: 
- What is the optimized value of k (use elbow method for this)?  
- Interpret your findings.

### Importing Liberaries

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import matplotlib
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
import math
import sys, os

In [6]:
sys.path.append(os.path.abspath(os.path.join('../scripts..')))
from data_visualizer import *
from data_selector import *
from outlier_handler import*

### Load Data

In [7]:
clean_df = pd.read_csv("../data/my_clean_data.csv")
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146887 entries, 0 to 146886
Data columns (total 55 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Unnamed: 0                        146887 non-null  int64
 1   Bearer Id                         146887 non-null  int64
 2   Start                             146887 non-null  object
 3   Start ms                          146887 non-null  float64
 4   End                               146887 non-null  object
 5   End ms                            146887 non-null  float64
 6   IMSI                              146887 non-null  int64
 7   MSISDN/Number                     146887 non-null  int64
 8   IMEI                              146887 non-null  int64
 9   Last Location Name                146887 non-null  object
 10  Avg RTT DL (ms)                   146887 non-null  float64
 11  Avg RTT UL (ms)                   146887 non-null  float64
 12  Avg Bearer TP DL (kbps)           146887 non-null  float64
 13  Avg Bearer TP UL (kbps)           146887 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)       146887 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)       146887 non-null  float64
 16  DL TP < 50 Kbps (%)               146887 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)    146887 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)     146887 non-null  float64
 19  DL TP > 1 Mbps (%)                146887 non-null  float64
 20  UL TP < 10 Kbps (%)               146887 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)     146887 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)    146887 non-null  float64
 23  UL TP > 300 Kbps (%)              146887 non-null  float64
 24  Activity Duration DL (ms)         146887 non-null  float64
 25  Activity Duration UL (ms)         146887 non-null  float64
 26  Dur. (ms).1                       146887 non-null  float64
 27  Handset Manufacturer              146887 non-null  object
 28  Handset Type                      146887 non-null  object
 29  Nb of sec with Vol DL < 6250B     146887 non-null  float64
 30  Nb of sec with Vol UL < 1250B     146887 non-null  float64
 31  Social Media DL (Bytes)           146887 non-null  float64
 32  Social Media UL (Bytes)           146887 non-null  float64
 33  Google DL (Bytes)                 146887 non-null  float64
 34  Google UL (Bytes)                 146887 non-null  float64
 35  Email DL (Bytes)                  146887 non-null  float64
 36  Email UL (Bytes)                  146887 non-null  float64
 37  Youtube DL (Bytes)                146887 non-null  float64
 38  Youtube UL (Bytes)                146887 non-null  float64
 39  Netflix DL (Bytes)                146887 non-null  float64
 40  Netflix UL (Bytes)                146887 non-null  float64
 41  Gaming DL (Bytes)                 146887 non-null  float64
 42  Gaming UL (Bytes)                 146887 non-null  float64
 43  Other DL (Bytes)                  146887 non-null  float64
 44  Other UL (Bytes)                  146887 non-null  float64
 45  Total UL (Bytes)                  146887 non-null  float64
 46  Total DL (Bytes)                  146887 non-null  float64
 47  Social Media Data Volume (Bytes)  146887 non-null  float64
 48  Google Data Volume (Bytes)        146887 non-null  float64
 49  Email Data Volume (Bytes)         146887 non-null  float64
 50  Youtube Data Volume (Bytes)       146887 non-null  float64
 51  Netflix Data Volume (Bytes)       146887 non-null  float64
 52  Gaming Data Volume (Bytes)        146887 non-null  float64
 53  Other Data Volume (Bytes)         146887 non-null  float64
 54  Total Data Volume (Bytes)         146887 non-null  float64
dtypes: float64(45), int64(5), object(5)
memory usage: 61.6+ MB

### User Engagement Analysis

**1. Top 10 customers per engagement metric**

In [10]:
total_users = clean_df['MSISDN/Number'].nunique()
print("The total number of Customer in the TellCo are = ",total_users)

The total number of Customer in the TellCo are =  105716

In [15]:
engagement_of_users = clean_df[['MSISDN/Number', 'Bearer Id', 'Dur. (ms).1', 'Total Data Volume (Bytes)']].copy().rename(columns={'Dur. (ms).1': 'time_duration'})#, 'total_data': 'total_data_volume'})
engagement_of_users

,MSISDN/Number,Bearer Id,time_duration,Total Data Volume (Bytes)
0,33664962239,-9223372036854775808,245108160.5,345629377.0
1,33681854413,-9223372036854775808,245108160.5,707185356.0
2,33760627129,-9223372036854775808,245108160.5,307690973.0
3,33750343200,-9223372036854775808,245108160.5,889352748.0
4,33699795932,-9223372036854775808,245108160.5,607681403.0
...,...,...,...,...
146882,33762146363,7349883264234529792,61661729.0,352656000.0
146883,33761274518,-9223372036854775808,84940610.0,116264912.0
146884,33626114091,-9223372036854775808,125622433.0,666947481.0
146885,33645655643,-9223372036854775808,113545185.0,922173944.0
146886,33668648496,-9223372036854775808,59587792.0,872761860.0